body{
    font-family: Arial, Helvetica, sans-serif;
}
.bico-header{
    background-color: white;
    height: 80px;
    float: left;
    width: 100%;
}
.bico-logo{
    float: left;
    width: 150px;
    margin-left: 17px;
    margin-top: 15px;
}
nav{
    float: right;
    text-align: right;
    width: 70%;
    margin-bottom: 5px;
    text-decoration: none;
    height: 100%;
    margin-right: 5%;
}
nav li {
    display: inline;
}
nav ul li a{
    margin-left: 3%;
}
nav a:link, :visited{
    color: #070C3B;
    font-size: 32px;
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    color: #D57961;
}
li{
    margin-left: 5%;
    color: #070C3B;
}
.bico-bloco1{
    height: 50px;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: white;
    padding-top: 15px;
}
.bico-bloco2{
    width: 98%;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-left: 1%;
    background-color: #F1E9E9;
}
.bico-bico{
    width:100%;
    height: auto;
    float: left;
    color: #070C3B;
    font-size: 38px;
    margin-left: 6%;
    margin-top: 30px;
}
.bico-desc_bico{
    width: 40%;
    float: left;
    height: auto;
    margin-left: 2%;
    margin-top: 32px;
}
.bico-titulo{
    float: left;
    height: auto;
    width: 80%;
    margin-left: 10%;
    font-size: 28px;
    color: #070C3B;
}
.bico-desc{
    width: 65%;
    margin-left: 10%;
    float: left;
    height: auto;
    color: black;
    font-size: 20px;
    margin-top: 20px;
}
.bico-pagamento{
    float: left;
    width: 50%;
    margin-left: 10%;
    height: auto;
    margin-top: 40px;
}
.bico-salario{
    font-size: 20px;
    color: #070C3B;
    float: left;
    width: auto;
    margin-top: 3px;
}
.bico-valor{
    color: black;
    font-size: 25px;
    float: left;
    height: auto;
    width: 50%;
    margin-left: 10px;
}
.bico-cupom{
    width: 38%;
    float: left;
    height: 33px;
    text-align: center;
    color: white;
    background-color: #070C3B;
    margin-left: 10%;
    font-size: 25px;
    text-decoration: none;
    padding-top: 6px;
    margin-top: 42px;
}
.bico-cupom:hover{
    background-color: #D57961;
}
.bico-contratado{
    width: auto;
    height: auto;
    float: left;
    margin-top: 100px;
    color: #070C3B;
    font-size: 28px;
    margin-left: 5%;
}
.bico-contratado_perfil{
    width: 50%;
    float: left;
    height: auto;
    margin-left: 5%;
    margin-top: 32px;
    margin-top: 22px;
    margin-bottom: 220px;
    background-color: white;
}
.bico-contratado_perfil img{
    width: 15%;
    float: left;
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 8px;
}
.bico-nome_e_class{
    width: 30%;
    margin-left: 3%;
    float: left;
    height: auto;
    margin-top: 25px;
}
.bico-nome{
    width: 100%;
    height: auto;
    color: #070C3B;
    font-size: 18px;
}
.bico-classificacao{
    width: 100%;
    float: left;
    height: 30px;
    margin-top: 10px;
}
.bico-ver_perfil{
    float: right;
    text-align: center;
    height: 40px;
    background-color: #070C3B;
    color: white;
    font-size: 25px;
    width: 30%;
    margin-right: 5%;
    text-decoration: none;
    margin-top: 35px;
    padding-top: 10px;
}
.bico-ver_perfil:hover{
    background-color: #FAC113;
}
@media (max-width:1800px){
    ul{
        padding-top: 4px;
    }
}
@media (max-width:1750px){
    
}
@media (max-width:1700px){
    
}
@media (max-width:1650px){
    
}
@media (max-width:1600px){
    nav a:link, :visited{
        font-size: 30px;
    }
    .bico-logo{
        width: 135px;
        margin-top: 15px;
    }
    ul{
        padding-top: 5px;
    }
}
@media (max-width:1550px){
    
}
@media (max-width:1500px){s
    .bico-logo{
        width: 130px;
        margin-top: 15px;
    }
}
@media (max-width:1450px){
    
}
@media (max-width:1400px){
    nav a:link, :visited{
        font-size: 28px;
    }
}
@media (max-width:1350px){
    
}
@media (max-width:1300px){
    .bico-logo{
        width: 125px;
        margin-top: 15px;
    }
}
@media (max-width:1250px){
    
}
@media (max-width:1200px){
    
}
@media (max-width:1150px){
    
}
@media (max-width:1100px){
    .bico-logo{
        width: 120px;
        margin-top: 15px;
    }
    ul{
        padding-top: 8px;
    }
}
@media (max-width:1055px){
    .bico-desc_bico{
        width: 75%;
        margin-left: 12.5%;
    }
    .bico-contratado_perfil{
        margin-top: 65px;
    }
}
@media (max-width:1000px){
    ul{
        padding-top: 8px;
        padding-right: 6px;
    }
    .bico-logo{
        width: 120px;
        margin-top: 15px;
    }
}
@media (max-width:950px){

}
@media (max-width:900px){
    nav a:link, :visited{
        font-size: 23px;
    }
    ul{
        padding-top: 8px;
        padding-right: 10px;
    }
    nav{
        text-align: right;
    }
}
@media (max-width:850px){

}
@media (max-width:800px){
    nav a:link, :visited{
        font-size: 20px;
    }
    .bico-logo{
        width: 120px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
        padding-right: 10px;
    }
    nav{
        text-align: right;
    }
    .bico-header{
        height: 70px;
    }
    .bico-desc_bico{
        width: 100%;
        margin-left: 0%;
    }
    .bico-contratado{
        width: 100%;
        margin-left: 0%;
        text-align: center;
    }
    .bico-contratado_perfil{
        width: 80%;
        margin-left: 10%;
    }
}
@media (max-width:750px){

}
@media (max-width:700px){
    nav a:link, :visited{
        font-size: 20px;
    }
    .bico-logo{
        width: 115px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
        padding-right: 20px;
    }
    nav{
        text-align: right;
        margin-right: 2%;
    }
    .bico-header{
        height: 70px;
    }
    .bico-contratado_perfil{
        width: 100%;
        margin-left: 0%;
    }
}
@media (max-width:650px){
    nav a:link, :visited{
        font-size: 16px;
    }
}
@media (max-width:600px){
    nav a:link, :visited{
        font-size: 16px;
    }
    .bico-logo{
        width: 105px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
    }
    nav{
        text-align: center;
        margin-right: 0%;
    }
    .bico-header{
        height: 70px;
    }
}
@media (max-width:550px){
    nav a:link, :visited{
        font-size: 14px;
    }
}
@media (max-width:500px){
    nav a:link, :visited{
        font-size: 14px;
    }
    .bico-logo{
        width: 105px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
    }
    nav{
        text-align: center;
        width: 72%;
    }
    .bico-header{
        height: 70px;
    }
}