body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: white;
    height: 80px;
    float: left;
    width: 100%;
}
.logo{
    float: left;
    width: 150px;
    margin-left: 17px;
    margin-top: 15px;
}
nav{
    float: right;
    text-align: center;
    width: 70%;
    margin-bottom: 5px;
    text-decoration: none;
    height: 100%;
}
nav li {
    display: inline;
    border: black 1px;
}
nav ul li a{
    margin-left: 3%;
}
nav a:link, :visited{
    color: #070C3B;
    font-size: 32px;
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    color: #D57961;
}
li{
    margin-left: 5%;
    color: #070C3B;
}
.fundo{
    background-color: #F1E9E9;
    float: left;
    height: auto;
    width: 100%;
}
.bloco2{
    width: 32%;
    float: right;
    margin-right: 1%;
    height: auto;
    margin-bottom: 100px;
    border: black 1px solid;
    margin-top: 30px;
}
.bloco3{
    width: 32%;
    float: left;
    margin-left: 1%;
    height: auto;
    margin-bottom: 80px;
    border: black 1px solid;
    margin-top: 30px;
}
.preencha{
    text-align: center;
    font-size: 25px;
    color: #070C3B;
    width: 100%;
    float: left;
    height: auto;
    margin-top: 15px;
}
.formulario textarea{
    height: 280px;
    font-size: 22px;
    margin-left: 5%;
    width: 90%;
    border-radius: 10px;
    border: white;
    margin-top: 10px;
    float: left;
    padding-left: 10px;
    margin-left: 5%;
}
.dica{
    width: 95%;
    margin-left: 10%;
    float: left;
    font-size: 17px;
    color: #070C3B;
    margin-top: 20px;
}
.bloco2 img{
    width: 100%;
}
.bloco1{
    width: 32%;
    float: left;
    margin-left: 1%;
    height: auto;
    margin-bottom: 80px;
    border: black 1px solid;
    margin-top: 30px;
}
.formulario{
    float: left;
    width: 100%;
    height: auto;
    border: black 1px solid;
}
.titulo{
    height: auto;
    width: 100%;
    margin-top: 20px;
    float: left;
    font-size: 22px;
    color: #070C3B;
}
.titulo2{
    height: auto;
    width: 90%;
    margin-top: 20px;
    float: left;
    font-size: 32px;
    margin-left: 10%;
    color: #070C3B;
}
.formulario input{
    height: 40px;
    font-size: 22px;
    width: 78%;
    border-radius: 10px;
    border: white;
    margin-top: 10px;
    float: left;
    padding-left: 10px;
}
.local{
    width: 100%;
    height: auto;
    float: left;
}
.estado{
    width: 20%;
    height: auto;
    float: left;
}
.local select{
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    border: white;
    margin-top: 10px;
    float: left;
    padding-left: 15px;
    width: 100%;
    margin-left: 5%;
}
.cidade{
    width: 60%;
    height: auto;
    float: left;
    margin-left: 3%;
}
.cidade input{
    height: 40px;
    font-size: 22px;
    width: 75%;
    border-radius: 10px;
    border: white;
    margin-top: 10px;
    float: left;
    padding-left: 10px;
}
.bloco2 a{
    height: 40px;
    width: 35%;
    float: right;
    text-align: center;
    font-size: 25px;
    padding-top: 15px;
    background-color: #070C3B;
    text-decoration: none;
    color: white;
    border-radius: 12px;
    margin-top: 40px;
}
.bloco2 a:hover{
    background-color: #FAC113;
}

@media (max-width:1800px){
    ul{
        padding-top: 4px;
    }
}
@media (max-width: 1750px) {
}
@media (max-width: 1700px) {
}
@media (max-width: 1650px) {
    
}
@media (max-width:1600px){
    nav a:link, :visited{
        font-size: 30px;
    }
    .logo{
        width: 135px;
        margin-top: 15px;
    }
    ul{
        padding-top: 5px;
    }
}
@media (max-width: 1550px) {
    
}
@media (max-width: 1500px) {
    .logo{
        width: 130px;
        margin-top: 15px;
    }
}
@media (max-width: 1450px) {
    
}
@media (max-width:1400px){
    nav a:link, :visited{
        font-size: 28px;
    }
}
@media (max-width: 1350px) {
    
}
@media (max-width: 1300px) {
    .logo{
        width: 125px;
        margin-top: 15px;
    }
}
@media (max-width: 1250px) {
    nav a:link, :visited{
        font-size: 27.5px;
    }
    .bloco1{
        width: 40%;
        margin-left: 5%;
        margin-bottom: 0px;
    }
    .bloco3{
        width: 42%;
        margin-right: 5%;
        float: right;
        margin-bottom: 15px;
    }
    .bloco2{
        width:45%;
        margin-right: 27.5%;
    }
}
@media (max-width:1200px){
}
@media (max-width: 1150px) {
    
}
@media (max-width: 1100px) {
    nav a:link, :visited{
        font-size: 25px;
    }
    .logo{
        width: 120px;
        margin-top: 15px;
    }
    ul{
        padding-top: 8px;
    }
    .bloco2 a{
        width: 40%;
    }
    .local select{
        font-size: 18px;
    }
}
@media (max-width: 1050px) {

}
@media (max-width:1000px){
    nav a:link, :visited{
        font-size: 22px;
    }
    ul{
        padding-top: 8px;
        padding-right: 6px;
    }
    .logo{
        width: 120px;
        margin-top: 15px;
    }
}
@media (max-width: 950px) {
    
}
@media (max-width: 900px) {
    nav a:link, :visited{
        font-size: 23px;
    }
    ul{
        padding-top: 8px;
        padding-right: 10px;
    }
    nav{
        text-align: right;
    }
    .bloco2{
        width: 70%;
        margin-left: 15%;
        float: left;
    }
    .bloco1{
        width: 70%;
        margin-left: 15%;
    }
    .bloco3{
        width: 70%;
        margin-left: 15%;
        float: left;
    }
}
@media (max-width: 850px) {
    
}
@media (max-width:800px){
    nav a:link, :visited{
        font-size: 20px;
    }
    .logo{
        width: 120px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
        padding-right: 10px;
    }
    nav{
        text-align: right;
    }
    .header{
        height: 70px;
    }
    .bloco2{
        width: 75%;
        margin-left: 12.5%;
    }
    .bloco1{
        width: 75%;
        margin-left: 12.5%;
    }
}
@media (max-width: 750px) {
    
}
@media (max-width: 700px) {
    nav a:link, :visited{
        font-size: 20px;
    }
    .logo{
        width: 115px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
        padding-right: 20px;
    }
    nav{
        text-align: right;
        margin-right: 2%;
    }
    .header{
        height: 70px;
    }
    .bloco3{
        width: 80%;
        margin-left: 10%;
    }
}
@media (max-width: 650px) {
    .bloco2{
        width: 85%;
        margin-left: 7.5%;
    }
    .bloco1{
        width: 85%;
        margin-left: 7.5%;
    }
    nav a:link, :visited{
        font-size: 16px;
    }
}
@media (max-width:600px){
    nav a:link, :visited{
        font-size: 16px;
    }
    .logo{
        width: 105px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
    }
    nav{
        text-align: center;
        margin-right: 0%;
    }
    .header{
        height: 70px;
    }
    .bloco2{
        width: 100%;
        margin-left: 0%;
    }
    .bloco1{
        width: 100%;
        margin-left: 0%;
    }
    .bloco3{
        width: 90%;
        margin-left: 5%;
    }
}
@media (max-width: 550px) {
    nav a:link, :visited{
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    nav a:link, :visited{
        font-size: 14px;
    }
    .logo{
        width: 105px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
    }
    nav{
        text-align: center;
        width: 72%;
    }
    .header{
        height: 70px;
    }
    .bloco3{
        width: 100%;
        margin-left: 0%;
    }
}