body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: white;
    height: 80px;
    float: left;
    width: 100%;
}
.logo{
    float: left;
    width: 150px;
    margin-left: 17px;
    margin-top: 15px;
}
nav{
    float: right;
    text-align: center;
    width: 70%;
    margin-bottom: 5px;
    text-decoration: none;
    height: 100%;
}
nav li {
    display: inline;
}
nav ul li a{
    margin-left: 3%;
}
nav a:link, :visited{
    color: rgba(147, 85, 218, 0.924);
    font-size: 32px;
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    color: rgb(240, 169, 38);
}
li{
    margin-left: 5%;
    color: rgba(147, 85, 218, 0.924);
}
.bloco1{
    height: 50px;
    float: left;
    width: 100%;
    text-align: center;
    font-size: 28px;
    color: white;
    background-color: rgba(198, 158, 245, 0.924);
    padding-top: 15px;
}
.bloco2{
    width: 98%;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-left: 1%;
    background-color: rgb(253, 253, 226);
}
.bico{
    width: 40%;
    float: left;
    height: auto;
    margin-left: 2%;
    margin-top: 52px;
}
.titulo{
    float: left;
    height: auto;
    width: 80%;
    margin-left: 10%;
    font-size: 28px;
    color: rgba(147, 85, 218, 0.924);
}
.desc{
    width: 65%;
    margin-left: 10%;
    float: left;
    height: auto;
    color: black;
    font-size: 20px;
    margin-top: 20px;
}
.pagamento{
    float: left;
    width: 50%;
    margin-left: 10%;
    height: auto;
    margin-top: 40px;
}
.salario{
    font-size: 20px;
    color: rgba(147, 85, 218, 0.924);
    float: left;
    width: auto;
    margin-top: 3px;
}
.valor{
    color: black;
    font-size: 25px;
    float: left;
    height: auto;
    width: 50%;
    margin-left: 10px;
}
.candidatos{
    width: 50%;
    float: left;
    height: auto;
    margin-left: 5%;
    margin-top: 32px;
    margin-top: 52px;
    margin-bottom: 220px;
}
.candidato{
    width: 100%;
    height: auto;
    float: left;
    background-color: white;
    margin-bottom: 8px;
}
.candidato img{
    width: 15%;
    float: left;
    border-radius: 50%;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 8px;
}
.nome_e_class{
    width: 30%;
    margin-left: 3%;
    float: left;
    height: auto;
    margin-top: 25px;
}
.nome{
    width: 100%;
    height: auto;
    color: rgba(147, 85, 218, 0.924);
    font-size: 18px;
}
.classificacao{
    width: 100%;
    float: left;
    height: 30px;
    margin-top: 10px;
    border: black 1px solid;
}
.ver_perfil{
    float: right;
    text-align: center;
    height: 40px;
    background-color: rgba(147, 85, 218, 0.924);
    color: white;
    font-size: 25px;
    width: 30%;
    margin-right: 5%;
    text-decoration: none;
    margin-top: 35px;
    padding-top: 10px;
}
.ver_perfil:hover{
    background-color: rgb(255, 215, 104);
}
@media (max-width:1800px){
    ul{
        padding-top: 4px;
    }
}
@media (max-width: 1750px) {
}
@media (max-width: 1700px) {
}
@media (max-width: 1650px) {
    
}
@media (max-width:1600px){
    nav a:link, :visited{
        font-size: 30px;
    }
    .logo{
        width: 135px;
        margin-top: 15px;
    }
    ul{
        padding-top: 5px;
    }
}
@media (max-width: 1550px) {
    
}
@media (max-width: 1500px) {
    .logo{
        width: 130px;
        margin-top: 15px;
    }
}
@media (max-width: 1450px) {
    
}
@media (max-width:1400px){
    nav a:link, :visited{
        font-size: 28px;
    }
}
@media (max-width: 1350px) {
    
}
@media (max-width: 1300px) {
    .logo{
        width: 125px;
        margin-top: 15px;
    }
    .bloco1{
        font-size: 26px;
    }
}
@media (max-width: 1250px) {
    
}
@media (max-width:1200px){
    
}
@media (max-width: 1150px) {
    .bloco1{
        font-size: 24px;
    }
}
@media (max-width: 1100px) {
    nav a:link, :visited{
        font-size: 25px;
    }
    .logo{
        width: 120px;
        margin-top: 15px;
    }
    ul{
        padding-top: 8px;
    }
}
@media (max-width: 1055px) {
    .desc{
        width: 75%;
        margin-left: 12.5%;
    }
    .candidato{
        margin-top: 65px;
    }
}
@media (max-width:1000px){
    nav a:link, :visited{
        font-size: 22px;
    }
    ul{
        padding-top: 8px;
        padding-right: 6px;
    }
    .logo{
        width: 120px;
        margin-top: 15px;
    }
    .bloco1{
        font-size: 21px;
    }
}
@media (max-width: 950px) {
    
}
@media (max-width: 900px) {
    nav a:link, :visited{
        font-size: 23px;
    }
    ul{
        padding-top: 8px;
        padding-right: 10px;
    }
    nav{
        text-align: right;
    }
    .bloco1{
        font-size: 20px;
        padding-top: 25px;
        height: 40px;
    }
}
@media (max-width: 850px) {
    
}
@media (max-width:800px){
    nav a:link, :visited{
        font-size: 20px;
    }
    .logo{
        width: 120px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
        padding-right: 10px;
    }
    nav{
        text-align: right;
    }
    .header{
        height: 70px;
    }
    .bico{
        width: 100%;
        margin-left: 0%;
    }
    .candidatos{
        width: 100%;
        margin-left: 0%;
        text-align: center;
    }
    .candidato{
        width: 80%;
        margin-left: 10%;
    }
}
@media (max-width: 750px) {

}
@media (max-width: 700px) {
    nav a:link, :visited{
        font-size: 20px;
    }
    .logo{
        width: 120px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
        padding-right: 10px;
    }
    nav{
        text-align: right;
    }
    .header{
        height: 70px;
    }
    .candidato{
        width: 100%;
        margin-left: 0%;
    }
}
@media (max-width: 650px) {
    nav a:link, :visited{
        font-size: 16px;
    }
}
@media (max-width:600px){
    nav a:link, :visited{
        font-size: 16px;
    }
    .logo{
        width: 105px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
    }
    nav{
        text-align: center;
        margin-right: 0%;
    }
    .header{
        height: 70px;
    }
}
@media (max-width: 550px) {
    nav a:link, :visited{
        font-size: 14px;
    }
}
@media (max-width: 500px) {
    nav a:link, :visited{
        font-size: 14px;
    }
    .logo{
        width: 105px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
    }
    nav{
        text-align: center;
        width: 72%;
    }
    .header{
        height: 70px;
    }
}