body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: white;
    height: 80px;
    float: left;
    width: 100%;
}
.logo{
    float: left;
    width: 150px;
    margin-left: 17px;
    margin-top: 15px;
}
nav{
    float: right;
    text-align: right;
    width: 70%;
    margin-bottom: 5px;
    text-decoration: none;
    height: 100%;
    margin-right: 5%;
}
nav li {
    display: inline;
}
nav ul li a{
    margin-left: 3%;
}
nav a:link, :visited{
    color: rgba(147, 85, 218, 0.924);
    font-size: 32px;
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    color: rgb(240, 169, 38);
}
li{
    margin-left: 5%;
    color: rgba(147, 85, 218, 0.924);
}
.carrossel{
    width: 100%;
    margin-top: 10px;
    height: 100%;
    overflow: hidden;
}
.carrossel .imagens{
    width: 500%;
    animation-name: animacao;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    margin-top: 10px;
}
.carrossel .imagens img{
    width: 19.9%;
}
@keyframes animacao{
    0% { margin-left: 0;}
    20% { margin-left: 0;}
    25% { margin-left: -100%;}
    45% { margin-left: -100%;}
    50% { margin-left: -200%;}
    70% { margin-left: -200%;}
    75% { margin-left: -300%;}
    90% { margin-left: -300%;}
    100% { margin-left: -400%;}
}
.bloco1{
    width: 40%;
    height: 640px;
    text-align: left;
    float: left;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 200%;
    margin-top: 25px;
    margin-left: 7%;
    margin-bottom: 20px;
}
h3{
    color: rgba(147, 85, 218, 0.924);
    font-size: 1.3em;
}
.bloco2{
    width: 42%;
    float: left;
    margin-left: 6%;
    margin-top: 20px;
    margin-bottom: 50px;
}

@media (max-width:1800px){
    .bloco1{
        font-size: 205%;
        margin-bottom: 10px;
        height: 700px;
        float: left;
        width: 735px;
        margin-left: 58px;
    }
    .bloco2{
        float: left;
        margin-left: 73px;
        width: 820px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .bloco2 img{
        height: 100%;
        width: 100%;
    }
    ul{
        padding-top: 4px;
    }
}
@media (max-width:1750px){
    .bloco1{
        font-size: 200%;
        margin-bottom: 10px;
        height: 700px;
        float: left;
        width: 720px;
        margin-left: 58px;
    }
    .bloco2{
        float: left;
        margin-left: 73px;
        width: 800px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
}
@media (max-width:1700px){
    .bloco1{
        font-size: 192%;
        margin-bottom: 10px;
        height: 660px;
        float: left;
        width: 700px;
        margin-left: 58px;
    }
    .bloco2{
        float: left;
        margin-left: 73px;
        width: 760px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
}
@media (max-width:1650px){
    .bloco1{
        font-size: 188%;
        margin-bottom: 10px;
        height: 630px;
        float: left;
        width: 680px;
        margin-left: 58px;
    }
    .bloco2{
        float: left;
        margin-left: 73px;
        width: 750px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
}
@media (max-width:1600px){
    .bloco1{
        font-size: 180%;
        margin-bottom: 10px;
        height: 600px;
        float: left;
        width: 680px;
        margin-left: 30px;
    }
    nav a:link, :visited{
        font-size: 30px;
    }
    .bloco2{
        float: left;
        margin-left: 63px;
        width: 720px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .logo{
        width: 135px;
        margin-top: 15px;
    }
    ul{
        padding-top: 5px;
    }
}
@media (max-width:1550px){
    .bloco1{
        font-size: 175%;
        margin-bottom: 10px;
        height: 580px;
        float: left;
        width: 650px;
        margin-left: 30px;
    }
    .bloco2{
        float: left;
        margin-left: 63px;
        width: 700px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
}
@media (max-width:1500px){
    .bloco1{
        font-size: 172%;
        margin-bottom: 10px;
        height: 570px;
        float: left;
        width: 630px;
        margin-left: 27px;
    }
    .bloco2{
        float: left;
        margin-left: 63px;
        width: 680px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .logo{
        width: 130px;
        margin-top: 15px;
    }
}
@media (max-width:1450px){
    .bloco1{
        font-size: 165%;
        margin-bottom: 10px;
        height: 580px;
        float: left;
        width: 585px;
        margin-left: 27px;
    }
    .bloco2{
        float: left;
        margin-left: 63px;
        width: 660px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
}
@media (max-width:1400px){
    .bloco1{
        font-size: 167%;
        margin-bottom: 10px;
        height: 560px;
        float: left;
        width: 600px;
        margin-left: 2px;
    }
    nav a:link, :visited{
        font-size: 28px;
    }
    .bloco2{
        float: left;
        margin-left: 63px;
        width: 620px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
}
@media (max-width:1350px){
    .bloco1{
        font-size: 162%;
        margin-bottom: 10px;
        height: 545px;
        float: left;
        width: 600px;
        margin-left: 22px;
    }
    .bloco2{
        float: left;
        margin-left: 50px;
        width: 590px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
}
@media (max-width:1300px){
    .bloco1{
        font-size: 156%;
        margin-bottom: 10px;
        height: 550px;
        float: left;
        width: 553px;
        margin-left: 18px;
    }
    .bloco2{
        float: left;
        margin-left: 45px;
        width: 600px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .logo{
        width: 125px;
        margin-top: 15px;
    }
}
@media (max-width:1250px){
    .bloco1{
        font-size: 148%;
        margin-bottom: 10px;
        height: 525px;
        float: left;
        width: 529px;
        margin-left: 25px;
    }
    .bloco2{
        float: left;
        margin-left: 38px;
        width: 570px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
}
@media (max-width:1200px){
    .bloco1{
        font-size: 142%;
        margin-bottom: 10px;
        height: 510px;
        float: left;
        width: 509px;
        margin-left: 12px;
    }
    .bloco2{
        float: left;
        margin-left: 31px;
        width: 550px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
}
@media (max-width:1150px){
    .bloco1{
        font-size: 137%;
        margin-bottom: 10px;
        height: 480px;
        float: left;
        width: 489px;
        margin-left: 9px;
    }
    .bloco2{
        float: left;
        margin-left: 31px;
        width: 530px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}
@media (max-width:1100px){
    .bloco1{
        font-size: 132%;
        margin-bottom: 10px;
        height: 460px;
        float: left;
        width: 466px;
        margin-left: 9px;
    }
    nav a:link, :visited{
        font-size: 25px;
    }
    .bloco2{
        float: left;
        margin-left: 26px;
        width: 500px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
    .logo{
        width: 120px;
        margin-top: 15px;
    }
    ul{
        padding-top: 8px;
    }
}
@media (max-width:1050px){
    .bloco1{
        font-size: 130%;
        margin-bottom: 10px;
        height: 450px;
        float: left;
        width: 466px;
        margin-left: 9px;
    }
    .bloco2{
        float: left;
        margin-left: 20px;
        width: 466px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    
}
@media (max-width:1000px){
    .bloco1{
        font-size: 120%;
        margin-bottom: 10px;
        height: 430px;
        float: left;
        width: 436px;
        margin-left: 9px;
    }
    nav a:link, :visited{
        font-size: 22px;
    }
    .bloco2{
        float: left;
        margin-left: 20px;
        width: 436px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    
    ul{
        padding-top: 8px;
        padding-right: 6px;
    }
    .logo{
        width: 120px;
        margin-top: 15px;
    }
}
@media (max-width:950px){
    .bloco1{
        font-size: 115%;
        margin-bottom: 10px;
        height: 400px;
        float: left;
        width: 416px;
        margin-left: 9px;
    }
    .bloco2{
        float: left;
        margin-left: 20px;
        width: 416px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    
}
@media (max-width:900px){
    .bloco1{
        font-size: 100%;
        margin-bottom: 10px;
        height: 350px;
        float: left;
        width: 400px;
        margin-left: 9px;
    }
    .bloco2{
        float: left;
        margin-left: 20px;
        width: 380px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    
    nav a:link, :visited{
        font-size: 23px;
    }
    ul{
        padding-top: 8px;
        padding-right: 10px;
    }
    nav{
        text-align: right;
    }
}
@media (max-width:850px){
    .bloco1{
        font-size: 95%;
        margin-bottom: 10px;
        height: 320px;
        float: left;
        width: 360px;
        margin-left: 9px;
    }
    .bloco2{
        float: left;
        margin-left: 20px;
        width: 360px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    
}
@media (max-width:800px){
    .bloco1{
        font-size: 93%;
        margin-bottom: 10px;
        height: 320px;
        float: left;
        width: 340px;
        margin-left: 9px;
    }
    .bloco2{
        float: left;
        margin-left: 15px;
        width: 350px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    
    nav a:link, :visited{
        font-size: 20px;
    }
    .logo{
        width: 120px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
        padding-right: 10px;
    }
    nav{
        text-align: right;
    }
    .header{
        height: 70px;
    }
}
@media (max-width:750px){
    .bloco1{
        font-size: 88%;
        margin-bottom: 10px;
        height: 300px;
        float: left;
        width: 320px;
        margin-left: 9px;
    }
    .bloco2{
        float: left;
        margin-left: 12px;
        width: 320px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    
    .carrossel .imagens img{
        width: 19.89%;
    }

}
@media (max-width:700px){
    .bloco1{
        font-size: 82%;
        margin-bottom: 10px;
        height: 280px;
        float: left;
        width: 300px;
        margin-left: 9px;
    }
    .bloco2{
        float: left;
        margin-left: 10px;
        width: 280px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    
    .carrossel .imagens img{
        width: 19.88%;
    }
    nav a:link, :visited{
        font-size: 20px;
    }
    .logo{
        width: 115px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
        padding-right: 20px;
    }
    nav{
        text-align: right;
        margin-right: 2%;
    }
    .header{
        height: 70px;
    }
}
@media (max-width:650px){
    .bloco1{
        font-size: 74%;
        margin-bottom: 10px;
        height: 250px;
        float: left;
        width: 280px;
        margin-left: 9px;
    }
    .bloco2{
        float: left;
        margin-left: 10px;
        width: 260px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .carrossel .imagens img{
        width: 19.87%;
    }
    nav a:link, :visited{
        font-size: 16px;
    }
}
@media (max-width:600px){
    /**/
    .bloco1{
        font-size: 70%;
        margin-bottom: 10px;
        height: 225px;
        float: left;
        width: 250px;
        margin-left: 9px;
    }
    .bloco2{
        float: left;
        margin-left: 10px;
        width: 240px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .carrossel .imagens img{
        width: 19.86%;
    }
    nav a:link, :visited{
        font-size: 16px;
    }
    .logo{
        width: 105px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
    }
    nav{
        text-align: center;
        margin-right: 0%;
    }
    .header{
        height: 70px;
    }
}
@media (max-width:550px){
    /**/
    .bloco1{
        font-size: 62%;
        margin-bottom: 10px;
        height: 210px;
        float: left;
        width: 220px;
        margin-left: 9px;
    }
    .bloco2{
        float: left;
        margin-left: 10px;
        width: 220px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .carrossel .imagens img{
        width: 19.84%;
    }
    nav a:link, :visited{
        font-size: 14px;
    }
}
@media (max-width:500px){
    /**/
    .bloco1{
        font-size: 62%;
        margin-bottom: 10px;
        height: 210px;
        float: left;
        width: 220px;
        margin-left: 9px;
    }
    .bloco2{
        float: left;
        margin-left: 10px;
        width: 220px;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    .carrossel .imagens img{
        width: 19.84%;
    }
    nav a:link, :visited{
        font-size: 14px;
    }
    .logo{
        width: 105px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
    }
    nav{
        text-align: center;
        width: 72%;
    }
    .header{
        height: 70px;
    }
}