body{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: white;
    height: 80px;
    float: left;
    width: 100%;
}
.logo{
    float: left;
    width: 150px;
    margin-left: 17px;
    margin-top: 15px;
}
.logo a:hover{
    background-color: white;
}
nav{
    float: right;
    text-align: center;
    width: 70%;
    margin-bottom: 5px;
    text-decoration: none;
    height: 100%;
}
nav li {
    display: inline;
    color: #070C3B;
}
nav ul li a{
    margin-left: 3%;
}
nav a:link, :visited{
    color: #070C3B;
    font-size: 32px;
    display: inline-block;
    text-decoration: none;
}
nav a:hover{
    color: #D57961;
}
.nav ul li{
    margin-left: 5%;
    color: #070C3B;
}
.bloco1{
    background-color: #F1E9E9;
    color: #D57961;
    text-align: center;
    width: 100%;
    height: 80px;
    float: left;
    margin-top: 10px;
}
.fundo{
    background-color: #070C3B;
    height:auto ;
    width: 100%;
    float: left;
}
.bloco2{
    width: 72%;
    margin-left: 14%;
    height: auto;
    float: left;
    background-color: white;
    border-radius: 30px;
    margin-top: 55px;
    margin-bottom: 10px;
}
.notificacoes{
    width: 100%;
    height: 85px;
    border-bottom: 3px solid #070C3B;
    float: left;
}
.perfil{
    width: 12%;
    float: left;
    height: 100%;
}
.perfil img{
    float: right;
    width: 60px;
    margin-right: 18%;
    margin-top: 5%;
    border-radius: 50%;
}
.notificacao{
    color: #070C3B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    float: left;
    width: 70%;
    height: 50px;
    padding-top: 10px;
    text-decoration: none;
}
.notificacao strong{
    font-size: 28px;
    color: #D57961;
    margin-top: 5%;
}
.horario{
    color: #D57961;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    float: left;
    height: 55px;
    width: 17.5%;
    padding-top: 30px;
    text-align: right;
}
@media (max-width:1800px){
    ul{
        padding-top: 4px;
    }
}
@media (max-width:1700px){

}
@media (max-width:1600px){
    .perfil img{
        margin-top: 7%;
    }
    nav a:link, :visited{
        font-size: 30px;
    }
    .logo{
        width: 135px;
        margin-top: 15px;
    }
    ul{
        padding-top: 5px;
    }
}
@media (max-width:1500px){
    .logo{
        width: 130px;
        margin-top: 15px;
    }
}
@media (max-width:1400px){
    .perfil img{
        margin-top: 7%;
    }
    nav a:link, :visited{
        font-size: 28px;
    }
}
@media (max-width:1300px){
    .logo{
        width: 125px;
        margin-top: 15px;
    }
}
@media (max-width:1200px){
    .perfil img{
        margin-top: 7%;
    }
    .horario{
        font-size: 22px;
    }
}
@media (max-width:1100px){
    .perfil img{
        margin-top: 7%;
        width: 50%;
    }
    .horario{
        font-size: 20px;
    }
    strong{
        font-size: 25px;
    }
    .notificacao{
        font-size: 21px;
    }
    nav a:link, :visited{
        font-size: 25px;
    }
    .bloco2{
        float: left;
        margin-left: 26px;
        width: 500px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .logo{
        width: 120px;
        margin-top: 15px;
    }
    ul{
        padding-top: 8px;
    }
}
@media (max-width:1000px){
    .perfil img{
        margin-top: 7%;
        width: 50%;
    }
    .horario{
        font-size: 19px;
    }
    strong{
        font-size: 22px;
    }
    .notificacao{
        font-size: 19px;
    }
    .notificacoes{
        height: 80px;
    }
    nav a:link, :visited{
        font-size: 22px;
    }
    ul{
        padding-top: 8px;
        padding-right: 6px;
    }
    .logo{
        width: 120px;
        margin-top: 15px;
    }
}
@media (max-width:900px){
    .perfil img{
        margin-top: 12%;
        width: 50%;
    }
    .horario{
        font-size: 18px;
    }
    strong{
        font-size: 22px;
    }
    .notificacao{
        font-size: 19px;
    }
    .notificacoes{
        height: 80px;
    }
    nav a:link, :visited{
        font-size: 23px;
    }
    ul{
        padding-top: 8px;
        padding-right: 10px;
    }
    nav{
        text-align: right;
    }
}
@media (max-width:800px){
    .perfil img{
        margin-top: 12%;
        width: 50%;
    }
    .horario{
        font-size: 16px;
    }
    strong{
        font-size: 20px;
    }
    .notificacao{
        font-size: 17px;
    }
    .notificacoes{
        height: 75px;
    }
    .bloco2{
        width: 80%;
        margin-left: 10%;
    }
    nav a:link, :visited{
        font-size: 20px;
    }
    .logo{
        width: 120px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
        padding-right: 10px;
    }
    nav{
        text-align: right;
    }
    .header{
        height: 70px;
    }
}
@media (max-width:700px){
    .perfil img{
        margin-top: 18%;
        width: 50%;
    }
    .horario{
        font-size: 16px;
    }
    strong{
        font-size: 19px;
    }
    .notificacao{
        font-size: 17px;
    }
    .notificacoes{
        height: 75px;
    }
    nav a:link, :visited{
        font-size: 20px;
    }
    .logo{
        width: 115px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
        padding-right: 20px;
    }
    nav{
        text-align: right;
        margin-right: 2%;
    }
    .header{
        height: 70px;
    }
}
@media (max-width:600px){
    .perfil img{
        margin-top: 18%;
        width: 50%;
    }
    .horario{
        font-size: 15px;
    }
    strong{
        font-size: 18px;
    }
    .notificacao{
        font-size: 16px;
    }
    .notificacoes{
        height: 70px;
    }
    .bloco2{
        width: 80%;
        margin-left: 10%;
    }
    nav a:link, :visited{
        font-size: 16px;
    }
    .logo{
        width: 105px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
    }
    nav{
        text-align: center;
        margin-right: 0%;
    }
    .header{
        height: 70px;
    }
}
@media (max-width:550px){
    nav a:link, :visited{
        font-size: 14px;
    }
    .perfil img{
        margin-top: 18%;
        width: 50%;
    }
    .horario{
        font-size: 15px;
    }
    strong{
        font-size: 18px;
    }
    .notificacao{
        font-size: 16px;
        margin-top: 2px;
    }
    .notificacoes{
        height: 70px;
    }
    .bloco2{
        width: 80%;
        margin-left: 10%;
    }
}
@media (max-width:500px){
    .perfil img{
        margin-top:22%;
        width: 50%;
    }
    .horario{
        font-size: 14px;
    }
    strong{
        font-size: 17px;
    }
    .notificacao{
        font-size: 15px;
        margin-top: 2px;
    }
    .notificacoes{
        height: 70px;
    }
    .bloco2{
        width: 80%;
        margin-left: 10%;
    }
    .bloco2{
        width: 80%;
        margin-left: 10%;
    }
    nav a:link, :visited{
        font-size: 14px;
    }
    .logo{
        width: 105px;
        margin-top: 15px;
    }
    ul{
        padding-top: 10px;
    }
    nav{
        text-align: center;
        width: 72%;
    }
    .header{
        height: 70px;
    }
}