#mais_info {

  background-color: #F1E9E9;
  height: 100vh;

  #mais_info_header {
    height: 8rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);

    div:nth-child(1) {
      display: flex;
      justify-content: center;
      align-items: center;
      font: bold 2rem 'Roboto';
    }
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 15rem;

    div:nth-child(1) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      background-color: white;

      #left_part {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        h2 {
          font: 500 1.5rem 'Roboto';
        }

        p {
          font: 400 1.3rem 'Roboto';
        }

        button {
          background-color: #070C3B;
          font: 500 2rem 'Roboto';
          height: 5rem;
          border-radius: 1rem;
          width: 80%;
        }

      }
    }

    div {

      div:nth-child(2) {

        div {

          display: grid;
          grid-template: repeat(3, 1fr) / 1fr;

          div:nth-child(1) {
            display: grid;
            grid-template: 1fr / 8rem 1fr;

            h6 {
              color: #D57961;
              font: 500 1.1rem 'Roboto';
            }

            span {
              color: #D57961;
              font: 400 1rem 'Roboto';
            }

          }

        }
      }
    }

  }

}