#avaliacao {

  nav{
    float: right;
    text-align: center;
    width: 50%;
    margin-bottom: 5px;
    text-decoration: none;
    height: 100%;
  }
  nav li {
    display: inline;
  }
  nav ul li a{
    margin-left: 3%;
  }
  nav a:link, :visited{
    color: rgba(147, 85, 218, 0.924);
    font-size: 32px;
    display: inline-block;
    text-decoration: none;
  }
  nav a:hover{
    color: rgb(240, 169, 38);
    background-color: white;
  }
  li{
    margin-left: 5%;
    color: rgba(147, 85, 218, 0.924);
    background-color: white;
  }
  .bloco1{
    float: left;
    height: 55px;
    width: 100%;
    background-color: rgba(229, 213, 248, 0.924);
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
    color: rgba(147, 85, 218, 0.924);
  }
  .bloco2{
    float: left;
    width: 100%;
    height: 40px;
    background-color: rgba(147, 85, 218, 0.924);
  }
  .fundo{
    width: 100%;
    height: auto;
    float: left;
    background-color: rgb(253, 253, 226);
  }
  .bloco3{
    float: left;
    background-color: white;
    width: 65%;
    margin-left: 17.5%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 25px;
  }
  .avaliador{
    height: 60px;
    float: left;
    width: 100%;
    margin-left: 0;
    padding-top: 10px;
  }
  .avaliador img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
    margin-left: 30px;
  }
  .avalia{
    float: left;
    width: auto;
    height: auto;
    font-size: 20px;
    color: rgba(147, 85, 218, 0.924);
    margin-left: 30px;
  }
  .nome{
    float: left;
    width: auto;
    height: auto;
    font-size: 20px;
    color: rgba(147, 85, 218, 0.924);
    margin-left: 5px;
  }
  .exclamacao{
    font-size: 20px;
    color: rgba(147, 85, 218, 0.924);
  }
  .avaliacao{
    float: left;
    width: 80%;
    margin-left: 10%;
    height: auto;
    margin-top: 20px;
  }
  .parabens{
    color: rgb(243, 187, 82);
    font-size: 22px;
    text-align: center;
    float: left;
    width: 100%;
  }
  .estrelas{
    width: 80%;
    margin-left: 10%;
    float: left;
    display: flex;
    justify-content: center;
    font-size: 4rem;
  }
  .perfil{
    width: 75%;
    float: left;
    height: auto;
  }
  .foto_perfil{
    width: 24%;
    float: left;
    margin-top: 35px;
    margin-left: 3%;
  }
  .foto_perfil img{
    width: 100%;
    border-radius: 50%;
    float: left;
    margin-bottom: 50px;
  }
  .nome_perfil{
    font-size: 25px;
    color: rgba(147, 85, 218, 0.924);
    float: left;
    width: 65%;
    height: 40px;
    margin-top: 30px;
    margin-left: 3%;
  }
  .classificacao{
    float: left;
    width: 65%;
    height: 40px;
    margin-top: 10px;
    margin-left: 3%;
    font-size: 2rem;
  }
  .caracteristicas{
    float: left;
    width: 65%;
    height: 40px;
    margin-top: 10px;
    margin-left: 3%;
    font-size: 25px;
    color: rgba(147, 85, 218, 0.924);
  }
  .localizacao{
    float: left;
    width: 65%;
    height: 40px;
    margin-top: 10px;
    margin-left: 3%;
    font-size: 25px;
    color: rgba(147, 85, 218, 0.924);
  }
  .recado{
    float: left;
    height: auto;
    width: 60%;
    margin-left: 20%;
    color: rgba(147, 85, 218, 0.924);
    font-size: 20px;
    text-align: center;
    margin-bottom: 30px;
  }
  @media (max-width:1800px){
    ul{
      padding-top: 4px;
    }
  }
  @media (max-width:1750px){

  }
  @media (max-width:1700px){

  }
  @media (max-width:1650px){

  }
  @media (max-width:1600px){
    nav a:link, :visited{
      font-size: 30px;
    }
    .logo{
      width: 135px;
      margin-top: 15px;
    }
    ul{
      padding-top: 5px;
    }
  }
  @media (max-width:1550px){

  }
  @media (max-width:1500px){
    .logo{

      width: 130px;
      margin-top: 15px;
    }
  }
  @media (max-width:1450px){

  }
  @media (max-width:1400px){
    nav a:link, :visited{
      font-size: 28px;
    }
  }
  @media (max-width:1350px){

  }
  @media (max-width:1300px){
    .logo{

      width: 125px;
      margin-top: 15px;
    }
  }
  @media (max-width:1250px){
    .parabens{
      font-size: 21px;
    }
  }
  @media (max-width:1200px){

  }
  @media (max-width:1150px){
    .parabens{
      font-size: 20px;
    }
    .nome_perfil, .caracteristicas, .localizacao{
      font-size: 22px;
    }
  }

  @media (max-width:1100px){
    nav a:link, :visited{
      font-size: 25px;
    }
    .logo{

      width: 120px;
      margin-top: 15px;
    }
    ul{
      padding-top: 8px;
    }
    .parabens{
      font-size: 20px;
    }
  }
  @media (max-width:1050px){
    .parabens{
      font-size: 19px;
    }
  }
  @media (max-width:1000px){
    nav a:link, :visited{
      font-size: 23px;
    }
    .logo{

      width: 120px;
      margin-top: 15px;
    }
    ul{
      padding-top: 8px;
      padding-right: 6px;
    }
    nav{
      width: 55%;
      text-align: right;
    }
    .parabens{
      font-size: 18px;
    }
  }
  @media (max-width:950px){
    .parabens{
      font-size: 17px;
    }
    .nome_perfil, .caracteristicas, .localizacao{
      font-size: 21px;
    }
  }
  @media (max-width:900px){
    nav a:link, :visited{
      font-size: 23px;
    }
    ul{
      padding-top: 8px;
      padding-right: 10px;
    }
    nav{
      width: 60%;
      text-align: right;
    }
    .parabens{
      font-size: 17px;
    }
    .nome_perfil{
      font-size: 19px;
      height: 35px;
    }
    .classificacao{
      height: 35px;
    }
    .caracteristicas{
      font-size: 19px;
      height: 35px;
    }
    .localizacao{
      font-size: 19px;
      height: 35px;
    }
    .recado{
      font-size: 16px;
    }
  }
  @media (max-width:850px){
    .bloco3{
      width: 75%;
      margin-left: 12.5%
    }
    .recado{
      width: 75%;
      margin-left: 12.5%;
    }
  }
  @media (max-width:800px){
    nav a:link, :visited{
      font-size: 20px;
    }
    .logo{

      width: 120px;
      margin-top: 15px;
    }
    ul{
      padding-top: 10px;
      padding-right: 10px;
    }
    nav{
      width: 60%;
      text-align: right;
    }
    .header{
      height: 70px;
    }
    .parabens{
      font-size: 18px;
    }
    .nome_perfil{
      font-size: 18px;
      height: 35px;
    }
    .classificacao{
      height: 35px;
    }
    .caracteristicas{
      font-size: 18px;
      height: 35px;
    }
    .localizacao{
      font-size: 18px;
      height: 35px;
    }
    .recado{
      font-size: 15px;
    }
  }
  @media (max-width:750px){
    .parabens{
      font-size: 16px;
    }
  }
  @media (max-width:700px){
    nav a:link, :visited{
      font-size: 18px;
    }
    .logo{

      width: 115px;
      margin-top: 15px;
    }
    ul{
      padding-top: 10px;
      padding-right: 20px;
    }
    nav{
      width: 70%;
      text-align: right;
    }
    .header{
      height: 70px;
    }
    .bloco3{
      width: 85%;
      margin-left: 7.5%;
    }
    .perfil{
      width: 80%;
    }
    .foto_perfil img{
      margin-bottom: 60px;
    }
    .nome_perfil{
      font-size: 19px;
      height: 35px;
    }
    .classificacao{
      height: 35px;
    }
    .caracteristicas{
      font-size: 19px;
      height: 35px;
    }
    .localizacao{
      font-size: 19px;
      height: 35px;
    }
    .parabens{
      font-size: 15px;
    }
    .recado{
      font-size: 16px;
      width: 85%;
      margin-left: 7.5%;
    }
  }
  @media (max-width:650px){

  }
  @media (max-width:600px){
    nav a:link, :visited{
      font-size: 15px;
    }
    .logo{

      width: 105px;
      margin-top: 15px;
    }
    ul{
      padding-top: 10px;
    }
    nav{
      width: 70%;
      text-align: center;
    }
    .header{
      height: 70px;
    }
    .bloco3{
      width: 90%;
      margin-left: 5%;
    }
    .perfil{
      width: 85%;
    }
    .foto_perfil img{
      margin-bottom: 60px;
    }
    .nome_perfil{
      font-size: 18px;
      height: 35px;
    }
    .classificacao{
      height: 35px;
    }
    .caracteristicas{
      font-size: 18px;
      height: 35px;
    }
    .localizacao{
      font-size: 18px;
      height: 35px;
    }
    .parabens{
      font-size: 14px;
    }
    .recado{
      font-size: 15px;
      width: 90%;
      margin-left: 5%;
    }
  }
  @media (max-width:550px){
    nav a:link, :visited{
      font-size: 15px;
    }
  }
  @media (max-width:500px){
    nav a:link, :visited{
      font-size: 15px;
    }
    .logo{
      width: 105px;
      margin-top: 15px;
    }
    ul{
      padding-top: 10px;
    }
    nav{
      width: 70%;
      text-align: center;
    }
    .header{
      height: 70px;
    }
  }

}