$purple: #8b54dc;
$light-purple: #a574ee;

#vagas {

  min-height: 100vh;
  background-color: #F1E9E9;

  #header-main {

    #header-bicos {
      color: #070C3B;
      background-color: #B4A8B7;
      font: bold 2rem 'Roboto';
      letter-spacing: 2px;
    }

    #search {

      background-color: $purple;
      height: 3.5rem;

      input {
        border-radius: 10rem;
        font: normal 1.1rem 'Roboto';

        &::placeholder {
          text-align: center;
          letter-spacing: 2px;
          font: 500 1.1rem 'Roboto';
        }
      }

    }

  }

  #content {
    text-align: center;
  }

  #list-vagas {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px 2px #ccc;
    border-radius: 1rem;
    font: 500 1.3rem 'Roboto';
    color: #B4A8B7;
    min-height: 60vh;
  }

}
