.notification-item {
  font: 400 1.2rem 'Roboto';
  border-bottom: 1px solid #ccc;

  .image {
    min-width: 3rem;
    max-width: 4rem;
  }

  span:nth-child(3) {
    color: #D2775F;
    font-weight: 400;
  }

}