$purple: #070C3B;
$light-purple: #070C3B;

.edit {

    min-width: 1030px;

    .state {
        text-transform: uppercase;
        width: 3rem;
    }

    .district {
        width: 20rem;
    }

    .address {
        display: flex;
        align-items: center;
        gap: 10px;
        flex: 1;
    }

    small {
        font-size: 1rem;
        color: $purple;
        font-weight: 500;
    }

    input[type=text] {
        padding: 10px;
        border-radius: 5px;
        border-width: 1px;
        border-color: #ccc;
        background-color: #ffe;
        font: 500 1rem 'Roboto';
        color: $purple;

        &:focus {
            border-width: 1px;
            border-color: #ccc;
        }
    }

    textarea {
        resize: none;
        height: 35vh;
        border-radius: 10px;
        padding: 1rem;
        font: 400 1.5rem 'Roboto';
        color: $light-purple;

        transition: .2s;

        &:focus {
            outline: none;
            color: $purple;

            &::placeholder {
                transition: .2s;
                color: #999;
            }
        }

        &::placeholder {
            color: #ccc;
        }
    }

    #image {
        //cursor: pointer;
        //transition: .2s;
        width: 120px;
        height: 120px;

        //&:hover {
        //    filter: brightness(50%);
        //    background-color: #ccc;
        //}
    }

    div {

        div:nth-child(1) {

            span:nth-child(1) {
                input[type=file] {
                    display: none;
                }
            }

        }

    }

    #perfil-container {

        div:nth-child(2) {

            #editabout {
                font: 400 2rem 'Roboto';
            }

        }

        div:nth-child(3) {
            input[type=submit] {
                flex: 1 1 200px;
                transition: .2s;
                font: 400 2rem 'Roboto';
                color: white;

                &:hover {

                    color: #333;
                    opacity: .8;
                }
            }
        }
    }

}