.campo-edit-coupon{
    margin: 0 auto 0 auto;  
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 254, 213);
    height: 500px;
    width: 700px;

    input {
        height: 50px;
        border: 0;
        border-radius: 10px;
        padding: 0 2rem;
    }

    button {
        width: 20%;
        height: 65px;
        font-size: 30px;
        background-color: #070C3B;
        color: white;
        text-decoration: none;
        border-radius: 20px;
    }
}