#candidatos {
    height: 100vh;
    background-color: #F1E9E9;

    main {
        display: grid;
        grid-template: 1fr / repeat(2, 1fr);
        font-family: 'Roboto';

        section:nth-child(1) {

            div {

                h1 {
                    font: bold 2.3rem 'Roboto';
                }

                p {
                    font: 400 1.1rem 'Roboto';
                }

                div {
                    span:nth-child(1) {
                        font: 500 1.6rem 'Roboto';
                    }

                    span:nth-child(2) {
                        font: 400 2rem 'Roboto';
                    }
                }

                .botao {
                    height: 50px;
                    width: 200px;
                    border: 0;
                    border-radius: 20px;
                    font-size: 20px;
                    color: white;
                    background-color: #070C3B;
                }

            }

        }

    }
}