.vacancy {
  background-color: #F2D8D1;
  color: #2C1746;
  font: bold 2rem 'Roboto';

  button {

    background-color: gray;

    &:hover {
      transition: .2s;
      background-color: #61dafb;

      * {
        transition: .2s;
        color: black;
      }
    }

  }

}