$purple: #8b54dc;
$light-purple: #a574ee;

#auth-register {

  button {
    width: 60%;
    height: 3rem;
    border-radius: 10px;
    border-width: 0;
    background-color: $purple;;
    color: white;
    font: 500 1.7rem 'Roboto';
    letter-spacing: 1px;
  }

  textarea {
    resize: none;
    height: 35vh;
    border-radius: 10px;
    border-width: 0;
    padding: 1rem;
    font: 400 1.5rem 'Roboto';
    color: $light-purple;

    transition: .2s;

    &:focus {
      outline: none;
      color: $purple;
    }
  }

  small {
    color: $purple;
    font-weight: 400;
    font-family: Roboto;
  }

  padding-top: 7rem;
  background-color: #EFEFDB;
  height: 100vh;

  .title {
    font: bold 1.8rem 'Roboto';
    color: $purple;
  }

  .input {

    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 8px;

    label {
      font: 500 1.3rem 'Roboto';
      color: $light-purple;
    }

    input {
      height: 2.4rem;
      padding: 10px;
      border-radius: 5px;
      border-width: 0;
      font: 500 1rem 'Roboto';
      color: $light-purple;
    }

  }

}