.vacancy {
  background-color: #F2D8D1;
  color: #2C1746;

  button {

    background-color: #F2D8D1;

    &:hover {
      transition: .2s;
      background-color: #D57961;

      * {
        transition: .2s;
        color: black;
      }
    }

  }

}